{{- define "main" -}}

<h1>{{ .Title | markdownify }}
{{ if .Draft }}
  <span style="color:gray; font-weight:bold;">— [DRAFT]</span>
  {{ end }}</h1>  
<p>
  <small class="text-secondary">
  {{ $customDateFormat := "January 2, 2006" }}
  {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
  On {{ .PublishDate.Format $customDateFormat }}
  | <code>{{ .Path }}</code>
  </small>
  {{ partial "categories" . }} <br/>
  <small class="text-secondary">
    {{ if gt .Lastmod .PublishDate }} rev {{ .Lastmod.Format $customDateFormat }}{{ end }}
  </small>
  {{ partial "tags" . }}
  {{ with .File }}
  <!-- {{ .ContentBaseName }} -->
  {{ end }}
</p>
{{ .Content }}

{{- end -}}
